<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easychat.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.easychat.data.entity.Message">
        <result column="id" property="id" />
        <result column="sender_id" property="senderId" />
        <result column="receiver_id" property="receiverId" />
        <result column="group_id" property="groupId" />
        <result column="send_time" property="sendTime" />
        <result column="message_type" property="messageType" />
        <result column="chat_type" property="chatType" />
        <result column="content" property="content" />
        <result column="seen" property="seen" />
    </resultMap>

    <resultMap id="LatestMessageMap" type="com.example.easychat.data.vo.LatestMessage">
        <result column="sender_id" property="senderId" />
        <result column="group_id" property="groupId" />
        <result column="nickname" property="nickname" />
        <result column="head_url" property="headUrl" />
        <result column="send_time" property="sendTime" />
        <result column="message_type" property="messageType" />
        <result column="chat_type" property="chatType" />
        <result column="content" property="content" />
        <result column="unread" property="unread" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sender_id, receiver_id, group_id, send_time, message_type, chat_type, content, seen
    </sql>

    <select id="getLatestMessages" parameterType="java.lang.Integer" resultMap="LatestMessageMap">
        (SELECT m.sender_id, m.group_id, user.nickname, user.head_url, m.send_time, m.message_type, m.chat_type,
        m.content, latest.unread FROM message m JOIN (
            SELECT sender_id, MAX(send_time) AS max_send_time, COUNT(*) AS unread FROM message
            WHERE receiver_id = #{receiverId} AND message_type=1 AND seen = 0 GROUP BY sender_id
        ) AS latest JOIN user
        ON m.sender_id = latest.sender_id AND m.send_time = latest.max_send_time AND m.sender_id = user.id
        WHERE m.receiver_id = #{receiverId} AND message_type=1 AND seen = 0)
        UNION ALL
        (SELECT m.sender_id, m.group_id, `group`.`name` AS nickname, `group`.head_url, m.send_time, m.message_type,
        m.chat_type, m.content, latest.unread FROM message m JOIN (
            SELECT group_id, MAX(send_time) AS max_send_time, COUNT(*) AS unread FROM message
            WHERE receiver_id = #{receiverId} AND message_type=2 AND seen = 0 GROUP BY sender_id
        ) AS latest JOIN `group`
        ON m.group_id = latest.group_id AND m.send_time = latest.max_send_time AND m.group_id = `group`.id
        WHERE m.receiver_id = #{receiverId} AND message_type=2 AND seen = 0)
        ORDER BY send_time DESC
    </select>

    <select id="getNewMessages" parameterType="java.lang.Integer"
            resultType="com.example.easychat.data.vo.NewMessage">
        (SELECT m.message_type, m.sender_id AS id, m.send_time, latest.unread FROM message m JOIN (
            SELECT sender_id, MAX(send_time) AS max_send_time, COUNT(*) AS unread FROM message
            WHERE receiver_id = #{receiverId} AND message_type=1 AND seen = 0 GROUP BY sender_id
        ) AS latest ON m.sender_id = latest.sender_id AND m.send_time = latest.max_send_time
         WHERE m.receiver_id = #{receiverId} AND message_type=1 AND seen = 0)
        UNION ALL
        (SELECT m.message_type, m.group_id AS id, m.send_time, latest.unread FROM message m JOIN (
            SELECT group_id, MAX(send_time) AS max_send_time, COUNT(*) AS unread FROM message
            WHERE receiver_id = #{receiverId} AND message_type=2 AND seen = 0 GROUP BY group_id
        ) AS latest ON m.group_id = latest.group_id AND m.send_time = latest.max_send_time
         WHERE m.receiver_id = #{receiverId} AND message_type=2 AND seen = 0)
        ORDER BY send_time DESC
    </select>

    <select id="getPersonChats" parameterType="com.example.easychat.data.dto.We"
            resultType="com.example.easychat.data.vo.Chat">
        SELECT chat_type, sender_id, send_time, content FROM message WHERE message_type=1
        AND receiver_id=#{i} AND sender_id=#{you}
    </select>

    <select id="getGroupChats" parameterType="com.example.easychat.data.dto.We"
            resultType="com.example.easychat.data.vo.Chat">
        SELECT chat_type, sender_id, send_time, content FROM message WHERE message_type=2
        AND receiver_id=#{i} AND group_id=#{you}
    </select>

</mapper>
