<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easychat.mapper.RelationshipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.easychat.data.entity.Relationship">
        <id column="id" property="id" />
        <result column="i" property="i" />
        <result column="you" property="you" />
        <result column="note" property="note" />
        <result column="grouping" property="grouping" />
        <result column="intimacy" property="intimacy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, i, you, note, `grouping`, intimacy
    </sql>

</mapper>
