<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easychat.mapper.RelationshipMapper">
    
    <select id="getPersonalGrouping" parameterType="java.lang.String"
            resultType="com.example.easychat.data.vo.PersonalGrouping">
        SELECT a.`grouping` AS `name`,IFNULL(b.online_number,0) as online_number,a.`number` FROM
        (SELECT r.`grouping`,COUNT(*) AS `number` FROM relationship r where i=#{id} group BY `grouping`) AS a
        LEFT JOIN
        (SELECT `grouping`,COUNT(`status`) AS online_number FROM relationship,user WHERE `status`=1 and i=#{id}
         AND you=id group BY `grouping`) AS b ON a.`grouping`=b.`grouping`
    </select>


    <select id="getMemberInfo" parameterType="com.example.easychat.data.dto.IS"
            resultType="com.example.easychat.data.vo.MemberInfo">
        SELECT 1 AS `type`,id,nickname,head_url,signature FROM relationship,user
        WHERE `grouping`=#{str} AND i=#{id} AND you=id
    </select>

</mapper>
