<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easychat.mapper.UserMapper">

<!--    <insert id="insert" parameterType="com.example.easychat.data.dto.Register">-->
<!--        insert into user(nickname,password) values (#{nickname},#{password})-->
<!--        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">-->
<!--            select  @@identity-->
<!--        </selectKey>-->
<!--    </insert>-->

    <select id="getPersonalInfo" parameterType="com.example.easychat.data.dto.We"
            resultType="com.example.easychat.data.vo.PersonalInfo">
        select u.id,u.nickname,u.sex,u.signature,u.country,u.location,u.status,
               r.note as note,r.`grouping` as `grouping`
        from user u,relationship r
        where u.id = r.you and r.i = #{i} and r.you = #{you}
    </select>

</mapper>
